<div class="chat-screen-area">
  <div class="chat-screen-header">Model: Default(GPT-3.5)</div>

  <div id="chat-messages" class="chat-messages">
    <% if session[:chatHistory] && session[:chatHistory][@current_user.id] %>
      <% session[:chatHistory][@current_user.id].each do |msg| %>
        <%= render partial: "message", locals: { msg: msg, from: msg[:role] == 'user' ? @current_user.username : 'Chat-GPT'  ,msg_id: SecureRandom.uuid } %>
      <% end %>
    <% end %>
    <%= turbo_stream_from "chat-messages-#{@current_user.id}" %>
  </div>

</div>

<div class="chat-input-area">

  <%= form_with url: chat_path, local: false, id: "chat-form", class: "chat-form", data: { turbo: true, controller: :chat } do |f| %>

      <%= f.text_area :message, required: true, id: 'chat-textarea', class: "chat-textarea", placeholder: "发送消息……" %>
      <%= f.submit "发送", id: "chat-submit-btn" %>

  <% end %>
  <div class="personal-statement">powered by Yuze Xie</div>

</div>


